# Зависимости
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Сборка
dist
build
.next
out

# Кэш
.cache

# Логи
*.log
npm-debug.log*

# Окружение
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea

# Системные файлы
.DS_Store
Thumbs.db