* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #131313;
}

.sx-react-calendar-wrapper {
  height: 500px;
  max-height: 90vh;
}
